body{
    background-color: #DFE5F2;
}

/*------------Navigation-------------*/
.bg-custom{
    background-color: rgba(24,41,64,1);
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-item.active{
    background-color: transparent;
}

.fa-kiwi-bird{
    padding-right:10px;
}
/*------------Header-------------*/

.hero-image {
    background: url("../images/heroimage.jpg");
     /* https://teamtreehouse.com/community/my-background-image-wont-show gave solution for using ../ to set location to root folder and find images */

    height: 32rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3.5rem;
}
.hero-image-opacity{
    background-color: rgba(0,0,0,0.25);
    height: inherit;
}

.hero-text{
    top: 45%;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25), 1px -1px 0 rgba(0,0,0,0.25),-1px 1px 0 rgba(0,0,0,0.25), 1px 1px 0 rgba(0,0,0,0.25);
}

.hero-text h1{
    font-family: "Exo", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
}

.hero-text p{
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color:#fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25), 1px -1px 0 rgba(0,0,0,0.25),-1px 1px 0 rgba(0,0,0,0.25), 1px 1px 0 rgba(0,0,0,0.25);
}


/*------------Mainpage - Carousel-------------*/

.carousel-container{
    position: relative;
}

.intro-text{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform:translate(-0%,-50%);
    color: #fff;
    background-blend-mode: overlay;
}

.carousel-dimensions.mainpage-carousel{
    padding-bottom: 1rem;
    margin-top:1rem;
}

.mainpage-inner .carousel-item {
    height: 300px;
}

.mainpage-inner .carousel-item img{
    height: 100%;
    object-fit: cover;
}

/*-----------Tour Image Links-----------*/

.tour-background{
    padding:0 2rem 3rem;
    background-color: #27402D;
    color: #fff;
}

.tour-anchor{
    padding: 0px;
}

.tour-anchor a{
    display: block;
}

.tour-textbox {
    font-family:"Exo", sans-serif;
    position: absolute;
    color: white;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);  /* fix found at https://www.w3schools.com/howto/howto_css_image_text.asp for image positioning*/
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25), 1px -1px 0 rgba(0,0,0,0.25),-1px 1px 0 rgba(0,0,0,0.25), 1px 1px 0 rgba(0,0,0,0.25);
}

@media only screen and (min-width:992px){
    .tour-image{
        padding-left:0.25rem;
    }
}

/*------------Buttons-------------*/

.btn-green{
    background-color: #27402D;
    color:#fff;
}

.btn-position{
    margin-bottom: 1.5rem;
}

.btn-bottom-page{
       margin-top: 2rem;
}

/*------------Contact Us-------------*/
.contact-us{
    background-image: url("../images/20190416_225735-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.opacity{
    background-color: rgba(1,1,1,0.7);
    height: inherit;
    color: #fff;
}

.elegant-form{
    background:transparent;
    border-color: transparent;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    color: #fff;
}

.elegant-form:-webkit-autofill,
.elegant-form:-webkit-autofill:hover,
.elegant-form:-webkit-autofill:focus,
.elegant-form:-webkit-autofill:active{
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff;
    -webkit-transition-property: background-color !important;  /*found here for the technique to alter the background of autofilled inputs
     https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
}

/* .inputTransparent {
    border: 1px solid black;
    background-color: transparent;
}

.inputTransparent:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    transition-delay: 99999s;
    -webkit-transition-property: background-color !important;
} */

/* .inputTransparent:-webkit-autofill,
.inputTransparent:-webkit-autofill:hover,
.inputTransparent:-webkit-autofill:focus,
.inputTransparent:-webkit-autofill:active{ 
   -webkit-transition-delay: 99999s;
   -webkit-transition-property: background-color !important;
 } */

/*------------Footer-------------*/

.footer p {
    font-family: "Exo", sans-serif;
    color:#fff;
    padding-left: 10px;
}

.social-links li{
    padding: 0 0.25rem;
}

.social-links li a i{
    color: #fff;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    padding: 0.5rem;
}

.list-inline{
    display:inline-block;
}


/*------------General layout-------------*/


/*--------------Typography---------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Exo", sans-serif;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

p{
    font-family: "Lato", sans-serif;
}

/*------------Tour itineraries-------------*/
.tourhero-image img{
   height: 20rem;
   width: 100%;
   object-fit: cover; /* suggested by https://stackoverflow.com/questions/11757537/css-image-size-how-to-fill-not-stretch/43001159 for use of object -fit cover */
}
.price-header{
    font-size: 2rem;
    margin-top: 1.5rem;
}

.tour-image-group{
    padding-bottom: 1rem;
}

.tour-itinerary{
    padding-bottom: 1rem;
}

.tour-itinerary:nth-child(odd){
    background-color: #27402D;
    color: #fff;
}

.tourpage-carousel{
    margin: 0;
    padding: 0;
}

.tourpage-inner .carousel-item {
    height: 300px;
}

.tourpage-inner .carousel-item img{
    height: 100%;
    object-fit: cover;
}



/*-------------- Media Queries---------------*/

@media (min-width: 768px){
   
    .navbar-brand,.nav-link{
        font-size: 1.25rem;
    }

    .hero-image{
        height: 40rem;
    }

    .hero-text{
        top: 50%; 
    }
    .hero-text h1{
        font-size:4.5rem;
    }

    .hero-text p{
        font-size: 1.5rem;
    }
    
    .intro-text h3{
        font-size: 2.5rem;
        font-weight: 300;
    }

    .tour-background h3 {
        font-size: 3rem;
        font-weight: 400;
    }
    
    .tour-textbox h5{
        font-size: 2.5rem;
        font-weight: 400;
    }

    .tour-image{
        padding-bottom: 0.55rem;
    }

    .tour-background p {
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
    }   

    .contact-us-layout h3{
        font-size: 3rem;
        font-weight: 400;
    }

    .footer p {
    font-size: 1.23rem;
    padding-top: 0.5rem;
    font-weight: 300;
    }

    .btn-green{
        font-weight: 500;
        padding: 0.5rem 1.25rem;
    }

    .tour-background p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
    }

    .tourhero-image img {
    height: 30rem;
    }

    .tour-heading h2 {
    font-weight: 600;
    font-size: 2.5rem;
    }

    .tour-image-group img {
    height: 23rem;
    object-fit: cover;
    width: 100%;
    }

}




