/*------------Navigation-------------*/

.dropdown-menu {
    background-color: rgb(43, 49, 54)
} 

.dropdown-item {
    color: #fff;
}

/*------------Header-------------*/




/*------------card-temp-------------*/
.card img{
    background-size: contain; /* suggestion for using background-szie contain from w3schools.com/css/css_rwd_images.asp*/
    max-width: 100%;
    height:auto;
}

/*------------card-temp-------------*/

textarea{
    padding-left: 0px;
    padding-right: 0px;
}

textarea.form-control {
    height: 200px;
}

