/*------------Navigation-------------*/

.dropdown-menu {
    background-color: rgb(43, 49, 54)
} 

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-item.active{
    background-color: transparent;
}
/*------------Header-------------*/

.hero-image {
    background: url("../Images/heroimage.jpg");
     /* https://teamtreehouse.com/community/my-background-image-wont-show gave solution for using ../ to set location to root folder and find images */

    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*To move image out from under navbar element*/
    margin-top: 3.5rem;
}

.hero-text{
    padding-top: 6rem;
}

.hero-text h1{
    color: #fff;
}

.hero-text p{
    color:#fff;
    padding-top: 10px;
}

/*------------Carousel-------------*/

/*-----------Image Links-----------*/

.tour-anchor{
    padding: 0px;
}

.tour-image{
    object-fit: cover;
    overflow: hidden;
    width: 100%; 
    height: 15rem;
    position: relative;
}

.tour-textbox {
    position: absolute;
    color: white;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);  /* fix found at https://www.w3schools.com/howto/howto_css_image_text.asp for image positioning*/
}

@media (min-width: 768px){
    .tour-image{
        padding-bottom: 0.55rem;
    }
}

@media (min-width:992px){
    .tour-image{
        padding-left:0.25rem;
    }
}

/*------------card-temp-------------*/
.card img{
    background-size: contain; /* suggestion for using background-szie contain from w3schools.com/css/css_rwd_images.asp*/
    max-width: 100%;
    height:auto;
}

/*------------Forms-------------*/

textarea{
    padding-left: 0px;
    padding-right: 0px;
}

textarea.form-control {
    height: 200px;
}

/*------------Footer-------------*/

.footer{
    background-color: #3a3a3a;
}

.footer p {
    color:#fff;
}


/*------------General layout-------------*/
.container{
    margin-top:2rem;
    margin-bottom: 2rem;

}

.container h3{
    padding-top: 1.5rem;
}

/*------------Tour itineraries-------------*/

.tourhero-image img{
   height: 20rem;
   width: 100%;
   object-fit: cover; /* suggested by https://stackoverflow.com/questions/11757537/css-image-size-how-to-fill-not-stretch/43001159 for use of object -fit cover */
}

.tour-image-group{
    padding-top:1rem;
    padding-bottom: 3rem;
}

.tour-heading h2{
    padding-bottom: 1rem;
}


