@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Lato:wght@100;300;400;500&display=swap');


/*------------Navigation-------------*/

.dropdown-menu {
    background-color: rgb(43, 49, 54)
} 

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-item.active{
    background-color: transparent;
}

.fa-kiwi-bird{
    padding-right:10px;
}
/*------------Header-------------*/

.hero-image {
    background: url("../Images/heroimage.jpg");
     /* https://teamtreehouse.com/community/my-background-image-wont-show gave solution for using ../ to set location to root folder and find images */

    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*To move image out from under navbar element*/
    margin-top: 3.5rem;
}
.hero-image-opacity{
    height: inherit;
    background-color: rgba(0,0,0,0.25);
}

.hero-text{
    padding-top: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.hero-text h1{
    font-family: "Exo", sans-serif;
    color: #fff;
    font-weight: 600;
}

.hero-text p{
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color:#fff;
    padding-top: 3rem;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25), 1px -1px 0 rgba(0,0,0,0.25),-1px 1px 0 rgba(0,0,0,0.25), 1px 1px 0 rgba(0,0,0,0.25);
}


.intro-text h4{
    font-family: "Exo", sans-serif;
}

.intro-text p{
    font-family:"Lato", sans-serif;
}
/*------------Carousel-------------*/

/*-----------Image Links-----------*/

.tour-anchor{
    padding: 0px;
}

.tour-image{
    object-fit: cover;
    overflow: hidden;
    width: 100%; 
    position: relative;
}

.tour-textbox {
    font-family:"Exo", sans-serif;
    position: absolute;
    color: white;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);  /* fix found at https://www.w3schools.com/howto/howto_css_image_text.asp for image positioning*/
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25), 1px -1px 0 rgba(0,0,0,0.25),-1px 1px 0 rgba(0,0,0,0.25), 1px 1px 0 rgba(0,0,0,0.25);
}

.tour-textbox

@media (min-width: 768px){
    .tour-image{
        padding-bottom: 0.55rem;
    }
}

@media (min-width:992px){
    .tour-image{
        padding-left:0.25rem;
    }
}

/*------------Forms-------------*/

textarea{
    padding-left: 0px;
    padding-right: 0px;
}

textarea.form-control {
    height: 200px;
}

/*------------Footer-------------*/

.footer{
    background-color: #3a3a3a;
}

.footer p {
    color:#fff;
    padding-left: 10px;
}


/*------------General layout-------------*/
.container{
    margin-top:2rem;
    margin-bottom: 2rem;

}

.container h3{
    padding-top: 1.5rem;
}

/*------------Tour itineraries-------------*/

.tourhero-image img{
   height: 20rem;
   width: 100%;
   object-fit: cover; /* suggested by https://stackoverflow.com/questions/11757537/css-image-size-how-to-fill-not-stretch/43001159 for use of object -fit cover */
}

.tour-image-group{
    padding-top:1rem;
    padding-bottom: 3rem;
}

.tour-heading h2{
    padding-bottom: 1rem;
}


